h1 {
    font-size: 3rem;
    margin: 0ch;
}

p {
    font-size: 1.4rem
}

#role, #improve, #comment, #recommend, #favorite {
    font-size: 1.3rem;
}

#name, #surname, #email {
    width: 12rem; height: 1.8rem;
}

#selectrole {
    width: 10rem;
    height: 1.5rem;
}

#rcmd, #improved{
    font-size: 1.1rem;
}

#submit {
    padding: 0.4rem;
    font-size: 0.8rem;
    margin-left: 1rem;
}